body{
    background-image: url(gradient.jpg);
    background-size: cover;
}

h1{
    outline-color: black;
    color:aliceblue;
    font-size: 4em;
    position: relative;
    text-align: center;
    font-style: normal;
    font-family: fantasy;
}

h2{
    outline-color: black;
    color:aliceblue;
    font-size: 1.5em;
    position: relative;
    text-align: center;
    font-style: italic;
    font-family:fantasy;
}

h3{
    outline-color: black;
    color:aliceblue;
    font-size: 1.2em;
    position: relative;
    text-align: right;
    margin-right: 100px;
    font-style: italic;
    font-family:fantasy;  
}


button{
    background-color:#00b3b3;
    border: none;
    padding: 5px;
    color: #ffffff;
    float:right;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 8px;
    cursor: pointer;
    margin-left: 10px;
}
table{
    border-collapse: collapse;
    border:none;
}

td{
    border:none;
    padding: 5px;
    align-content: stretch; 
}

p{
    outline-color: black;
    color:aliceblue;
    font-size: 1.5em;
    text-align: center;
    font-style: italic;
    font-family:fantasy;
}


